[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
uvicorn = "*"
fastapi-mail = "*"
python-multipart = "*"
passlib = {extras = ["bcrypt"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
